.about-content-top{
	font-size: 18px;
}


.about-content-bottom{
	@extend .flex-stretch;
	flex-direction: column-reverse;
	font-size: 20px;
}


@media (max-width: $lg) {
#wp-logo{
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}
}

@media (min-width: $lg) {
.about-content-bottom{
	flex-direction: row;
}

.about-text{
	flex: 2 1 0;
} 

#wp-logo{
	flex: 1 1 0;
	padding-left: 56px;
}

}