
.about-content-bottom{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: $lg) {
	.about-content-bottom div{
		display: flex;
		justify-content: center;
	}
}

@media (min-width: $lg) {

.about-content-bottom{
	flex-direction: row;
}

.about-text{
	flex: 2 1 0;
} 

#wp-logo{
	flex: 1 1 0;
	padding-left: 56px;
}

}