.get-involved{
	@extend .flex-stretch;
	flex-direction: column;
	text-align: center;
}

.involved-sections{
	width:50%;

	div{
		margin-top: 50px;
	}

	h3{
		padding: 0px;
		font-family: $body-font-stack !important;
	}

}