// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-content {
    @media (min-width: $lg){
        float: left;
        width: 70%;
        margin-right: 3rem;
    }

    .opening-blurb {
        font-family: $header-font-stack;
        font-size: 1.25rem;
        text-align: center;
    }
}