// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-content {
    float: left;
    width: 70%;
    margin-right: 3rem;
}