// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-content {
    @media (min-width: $lg){
        float: left;
        width: 70%;
        margin-right: 3rem;
    }

    .opening-blurb {
        font-family: $header-font-stack;
        font-size: 1.25rem;
        text-align: center;
    }

    .opening-ctas {
        @media (min-width: $lg){
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
        text-align: center;

        a {
            box-shadow: none; //removes theme default
            @media (min-width: $lg){
                width: 100px;
            }
            &:hover {
                color: $text-color;
                box-shadow: none; //preventes theme default 
            }
        }
    }
}