
.location{
	@extend .flex-stretch;
	flex-direction: column-reverse;
	font-size: 20px;

	h3{
		padding: 0px;
	}

	h1{
		margin: 0px;
		padding: 0px;
	}
}

.location-text{
	flex: 1 1 50%;
	margin-bottom: 50px;
}

.slideshow{
	width: 100%;
}

#gallery-5-1-slideshow{
	background-color: white;
	border: white;
}

@media (min-width: $lg) {

.location{
	flex-direction: row;
}

.slideshow{
	flex: 2 1 50%;
}

.location-text{
	padding-right: 56px;
}

}



.directions{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: 20px;

	ul{
		list-style-type: none;
		display: flex;
		margin-bottom: 0px;
		margin-top: 28px;
	}

	li{
		padding-right: 10px;
	}

}

.subway{
	flex: 1 1 50%;
}

.parking{
	flex: 1 1 50%;
	margin-top: 40px;

	ul{
		flex-direction: column;
	}
}

@media (min-width: $md){
	.directions{
		flex-direction: row;
	}
}

@media (min-width: $lg) {
	.parking{
		margin-top: 0px;
	}
}