
.location{
	@extend .flex-stretch;
	font-size: 20px;
}

.directions{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	font-size: 20px;

	ul{
		list-style-type: none;
		display: flex;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	li{
		padding-right: 10px;
	}

}

.subway .parking{
		flex: 1 1 50%;
}