// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button, input[type="submit"], .btn {
    background: $accent-color;
    font-weight: normal;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px $shadow-color;
    &:hover, &:focus {
        background: darken($accent-color, 10%);
    }
    &:active {
        box-shadow: 0;
    }
}