// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: $tertiary-color;
    color: $light-color;
    a { 
        color: $light-color !important;
    }

    .social-links {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        li:not(:last-child) {
            margin-right: 1.5rem;
        }
        a {
            box-shadow: none;       //override theme default
            img {
                box-shadow: none;   //override theme default
            }
        } 
    }

    //override the footer widget columns widths
    &.site-footer .widget-column.footer-widget-1 {
        float: none;
        width: 100%;
    }
    &.site-footer .widget-column.footer-widget-2 {
        float: none;
        width: 100%;

        > section:last-of-type {
            padding-bottom: 0;
        }
    }
}

.site-info {
    display: none;
}

.footer-widget-1 {
    .widget-title {
        color: $light-color;
        margin-bottom: 3rem;
        font-size: 2rem;
        text-transform: none;
        text-align: center;
    }
    form.contact-form {
        width: 75%;
        margin: auto;
        p.contact-submit {
            margin-top: 1.5rem;
            text-align: center;
        }
        input:not([type="submit"]) {
            width: 100%;
        }
        input[type="submit"]{
            font-size: 1rem;
        }
        label {
            color: $light-color;
        }
    }
}