// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: $tertiary-color;
    color: $light-color;
    a { 
        color: $light-color !important;
    }

    .social-links {
        display: flex;
        list-style-type: none;
        li:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    //override the footer widget columns widths
    .site-footer .widget-column.footer-widget-1 {
        float: none;
        width: 100%;
    }
    .site-footer .widget-column.footer-widget-2 {
        float: none;
        width: 100%;
    }
}

.site-info {
    display: none;
}