// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: $tertiary-color;
    color: $light-color;
    a { 
        color: $light-color !important;
    }

    .social-links {
        display: flex;
        list-style-type: none;
        li:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}