// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * The code below came from the original site (pre-2018), and manage the layout of the logo and tagline
 */
 .custom-logo-link img {
	display: inline-block;
	max-height: 125px !important;
	width: auto;
	opacity: .8;
}

.site-description {
	font-size: 22px;
	font-style: normal;
}

body:not(.title-tagline-hidden) .site-branding-text {
	display: block;
	text-align: center;
}

.site-title {
	display: none;
}

.site-branding a {
	transition: opacity .2s;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	display: block;
}




/**
 * The code below is written for the 2018 theme
 */
 // Nav Bar and Navigation
.navigation-top { // Main Navigation
    background: $brand-color;
    text-transform: uppercase;
    .wrap {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-main-navigation-container { 
        display: none; //on mobile hides the menu before expansion
        @media (min-width: $md){
            display: block;
        }
     } 
    .main-navigation.toggled-on {
        .menu-main-navigation-container {
            display: block;
        }
    }

    @media (min-width: $md){
        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: white; //override the default gray
                opacity: 0.9; //todo: design better hover effect?
            }
        }    
        .current_page_item a {
            color: white; //override the default gray
            text-decoration: underline;
        }
    }
}
#top-menu {
    background: $brand-color;
    @extend .flex-stretch;
    @media (max-width: $md){
        display: block;
    }
}


//Hero Image and Title
.custom-header {
    margin-bottom: -1.5em; //accomodates for reduced navigation height (.75em was formerly top/bottom padding)
    background: url('https://2018.nyc.wordcamp.org/files/2018/07/times-square@2x.jpg');
    background-size: cover;
}