// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * The code below came from the original site (pre-2018), and manage the layout of the logo and tagline
 */
 .custom-logo-link img {
	max-height: auto;
	width: auto;
}

.site-description {
    font-size: 1.5rem;
    color: $light-color !important; //this is overriding the setting from the theme settings/customizer
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 0 2px $dark-color;
    margin-top: 0.5rem;
    display: none; //Rework with background image
}

body:not(.title-tagline-hidden) .site-branding-text {
	display: block;
	text-align: center;
}

.site-title {
	display: none;
}

.site-branding a {
	transition: opacity .2s;
	text-align: center;
	margin: 0 auto;
    display: none; // Put branding in with image
    padding-right: 0;
    &:hover {
        opacity: 1; //prevent fade on hover
    }
}




/**
 * The code below is written for the 2018 theme
 */
 // Nav Bar and Navigation
.navigation-top { // Main Navigation
    background: $brand-color;
    text-transform: uppercase;
    .wrap {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-main-navigation-container { 
        display: none; //on mobile hides the menu before expansion
        @media (min-width: $md){
            display: block;
        }
     } 
    .main-navigation.toggled-on {
        .menu-main-navigation-container {
            display: block;
        }
    }

    @media (min-width: $md){
        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: white; //override the default gray
                opacity: 0.9; //todo: design better hover effect?
            }
        }    
        .current_page_item a {
            color: white; //override the default gray
            text-decoration: underline;
        }
    }
}
#top-menu {
    background: $brand-color;
    @extend .flex-stretch;
    @media (max-width: $md){
        display: none;
    }
}
 

//Fixing the mobile menu that wouldn't disappear on toggle 
nav#site-navigation.main-navigation.toggled-on{
    
    #top-menu{
    display: block;

    @media (min-width: $md){
        display: flex;
    }
    }
 }

.main-navigation ul ul{
    background: $brand-color !important;
    text-decoration: none;
}

//Hero Image and Title
.custom-header {
    margin-bottom: -1.5em; //accomodates for reduced navigation height (.75em was formerly top/bottom padding)
    background-image: url('https://2018.nyc.wordcamp.org/files/2018/08/mobile-top@2x.jpg');    
    background-size: auto;   
    background-color: #05080f;
    background-repeat: no-repeat;
    background-position: center top;
    height: 380px;

    @media (min-width: $md) {
    background-image: url('https://2018.nyc.wordcamp.org/files/2018/08/tablet-top@2x.jpg');  
    height: 380px;
    // background-size: auto;      
    }

    @media (min-width: $lg) {
    background-image: url('https://2018.nyc.wordcamp.org/files/2018/08/desktop-w-top@2x.jpg'); 
    height: 508px;      
    }
}

div.custom-header{
    margin-bottom: 51px;
}

// .site-header:before{
//     height: 75px;
//     width: 100%;
//     border: 1px solid red;
//     display: none;
// }

/* The animation code */
@keyframes triangle {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}
}


.navigation-top:before{
    display: none;

    @media (min-width: $md){
    display: block;
    position: absolute;
    content: url('https://2018.nyc.wordcamp.org/files/2018/08/Sponsor-triangle.png');
    bottom: 20px;
    left: 64%;
    animation-name: triangle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    }

    // @media (min-width: $lg){
    // // content: url('https://2018.nyc.wordcamp.org/files/2018/08/Sponsor-triangle@2x.png');
    // }
}
