// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

.sponsor-sidebar {
    margin-top: 5rem;       //mobile only
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 0 0.5rem;
    @media (min-width: $lg){
        margin-top: 0;
        float: left;
        width: 25%;
        padding-left: 3rem;
        border-left: 3px dotted $dark-color; //same as the border style on the sponsor h2, AND the hr element. make into mixin?
    }
    .wcorg-sponsors {
        h3 {
            display: none;
        }
        h2 {
            border-bottom: 3px dotted $dark-color;
            border-top: 3px dotted $dark-color;
            padding: 0.5rem;
            margin-bottom: 3rem;

            // override sectionTitle styles
            display: block;
            width: 100%;
            // font-family: $body-font-stack;
            color: inherit;
            font-size: 1.625rem;    //default h2 font size from theme's stylesheet
            // font-weight: bold;
            background: none;
            border-right: 0;
            border-left: 0;
            box-shadow: none;
        }
    }
    .wcorg-sponsor {
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 4rem; //separate the sponsor levels a little more
        }
    }
}